@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #141414;

    /* box */
    box-sizing: border-box;
    
    /* computed */
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: #141414;
    text-decoration: none;
}

input, textarea {
    outline: none;
}

table {
    border-collapse: collapse;
}